.portfolio-scroll {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 275px;
    margin-right: 275px;;
}

.card-dark {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 25px;
    width: 286.25px;
    height: 286px;
    text-align: center;
}

.card-dark > h2 {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 20px;
}

.card-dark > p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.card-dark > a {
    font-size: 16px;
    color: black;
    margin-top: auto;
    margin-bottom: 20px;
}

.card-light {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 286.25px;
    height: 286px;
    text-align: center;
}

.card-light > h2 {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 20px;
}

.card-light > p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.card-light > a {
    font-size: 16px;
    color: white;
    margin-top: auto;
    margin-bottom: 20px;
}
