.theme-switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    position: sticky;
    top: 50px;
}

.light-outer-circle {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: black;
}

.dark-outer-circle {
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: white;
}

.light-inner-circle {
    position: relative;
    top: 10px;
    left: 10px;

    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dark-inner-circle {
    position: relative;
    top: 10px;
    left: 10px;

    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.inner-circle-hidden {
    visibility: hidden;
}

.theme-switch-hint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}
