body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Sometype Mono';
}

.dark-mode {
    background-color: black;
    color: white;
    min-height: 100vh;
    padding-bottom: 50px;
}

.light-mode {
    background-color: white;
    color: black;
    min-height: 100vh;
    padding-bottom: 50px;
}

.main {
    display: flex;
    margin-top: 80px;
    margin-left: 125px;
    align-items: center;
}

.main > img {
    background-color: blue;
    width:  600px;
    height: 600px;
    border-radius: 50%;
    margin-right: auto;
    box-shadow: 0px 0px 10px 0px #000000;
}

.main > p {
    font-size: 25px;
    margin-right: 125px;
    margin-left: 470px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.scroll-hint {
    font-size: 30px;
    margin-top: 220px;
    text-align: center;
}

.highlight-dark {
    color: black;
    background-color: white;
}

.highlight-light {
    color: white;
    background-color: black;
}

.mail {
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2px;
    margin-right: 2px;
    letter-spacing: 6px;
}
